name: Publish LinkChecker Documentation on GitHub Pages

on:
    push:
      branches: ["master"]

jobs:
  run:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Ubuntu packages
        run: apt install graphviz

      - name: Install Python packages
        run: pip install sphinx sphinx_epytext sphinx_rtd_theme

      - name: Build
        run: | 
            python3 setup.py build
            make -C doc code
            make -C doc html

      - name: Publish
        uses: peaceiris/actions-gh-pages@v3
        with:
              github_token: ${{ secrets.GITHUB_TOKEN }}
              publish_dir: ./doc/html
              destination_dir: docs
              commit_message: ${{ github.event.head_commit.message }}
